[user]
	email = mcfoxax@gmail.com
	name = Foxboron
	signingkey = 9FECBE16

[branch]
  autosetuprebase = always
[alias]
    head = !git r -1
    h = !git head
    hp = "!. ~/.githelpers && show_git_head"
    r = !GIT_NO_PAGER=1 git l -30
    ra = !git r --all
    l = "!. ~/.githelpers && pretty_git_log"
    la = !git l --all
	
	default = simple
	d = difftool
[core]
	excludesfile = ~/.gitignore
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[push]
	default = simple
