*.wants
*.swp
*.swo
vpn-status
.rope*
*autoload*
*bundle*
*netrwhist*
*.trash*
*.bak*
*spell
**undo
*.netrwhist
*__pycache__
*cache.db
qutebrowser/.config/qutebrowser/qsettings/
keys.conf.*
*qutebrowser/bookmarks*
*qutebrowser/quickmarks*
