[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
xbindkeys
setxkbmap -option 'ctrl:nocaps' no
pulseaudio --start &
pasystray &
nm-applet &
udiskie & 
tlp start &
unclutter -idle 4 & 
source /etc/X11/xinit/xinitrc.d/30-dbus
eval $(/usr/bin/gnome-keyring-daemon --start --components=pkcs11,secrets,ssh)
export GPG_AGENT_INFO SSH_AUTH_SOCK
