[Unit]
Description=Set X screensaving off
Requires=xorg.target
After=xorg.target
Before=i3.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/xset -dpms; /usr/bin/xset s off

[Install]
WantedBy=fox.target
